<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syj.eplus.module.scm.dal.mysql.purchasecontractitem.PurchaseContractItemMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <!-- 产品模式扁平化响应映射 -->
    <resultMap id="PurchaseContractProductModeResultMap" type="com.syj.eplus.module.scm.controller.admin.purchasecontract.vo.PurchaseContractProductModeRespVO">
        <!-- 明细主键（用于前端表格唯一标识） -->
        <result column="id" property="id" />
        
        <!-- 主表字段 -->
        <result column="contractId" property="contractId" />
        <result column="code" property="code" />
        <result column="confirmFlag" property="confirmFlag" />
        <result column="companyId" property="companyId" />
        <result column="companyName" property="companyName" />
        <result column="venderId" property="venderId" />
        <result column="venderCode" property="venderCode" />
        <result column="venderName" property="venderName" />
        <result column="currency" property="currency" />
        <result column="paymentId" property="paymentId" />
        <result column="paymentName" property="paymentName" />
        <result column="purchaseTime" property="purchaseTime" />
        <result column="deliveryDate" property="deliveryDate" />
        <result column="auditStatus" property="auditStatus" />
        <result column="contractStatus" property="contractStatus" />
        <result column="printFlag" property="printFlag" />
        <result column="totalAmount" property="totalAmount" typeHandler="com.syj.eplus.framework.common.config.handler.JsonAmountTypeHandler" />
        <result column="totalQuantity" property="totalQuantity" />
        <result column="creator" property="creator" />
        <result column="createTime" property="createTime" />
        <result column="companyPath" property="companyPath" typeHandler="com.syj.eplus.framework.common.config.handler.JsonCompanyPathTypeHandler" />
        
        <!-- 明细字段 -->
        <result column="sortNum" property="sortNum" />
        <result column="skuCode" property="skuCode" />
        <result column="basicSkuCode" property="basicSkuCode" />
        <result column="cskuCode" property="cskuCode" />
        <result column="name" property="name" />
        <result column="nameEng" property="nameEng" />
        <result column="venderProdCode" property="venderProdCode" />
        <result column="mainPicture" property="mainPicture" typeHandler="com.syj.eplus.framework.common.config.handler.JsonFileTypeHandler" />
        <result column="thumbnail" property="thumbnail" />
        <result column="quantity" property="quantity" />
        <result column="unit" property="unit" />
        <result column="withTaxPrice" property="withTaxPrice" typeHandler="com.syj.eplus.framework.common.config.handler.JsonAmountTypeHandler" />
        <result column="withTaxTotal" property="withTaxTotal" typeHandler="com.syj.eplus.framework.common.config.handler.JsonAmountTypeHandler" />
        <result column="totalPriceRmb" property="totalPriceRmb" typeHandler="com.syj.eplus.framework.common.config.handler.JsonAmountTypeHandler" />
        <result column="purchaseType" property="purchaseType" />
        <result column="purchaseCurrency" property="purchaseCurrency" />
        <result column="packageType" property="packageType" typeHandler="com.syj.eplus.framework.common.config.handler.LongListTypeHandler" />
        <result column="itemVenderDeliveryDate" property="itemVenderDeliveryDate" />
        <result column="itemStatus" property="itemStatus" />
        <result column="skuId" property="skuId" />
        <result column="skuType" property="skuType" />
        <result column="ownBrandFlag" property="ownBrandFlag" />
        <result column="itemCheckStatus" property="itemCheckStatus" />
        <result column="invoiceStatus" property="invoiceStatus" />
        <result column="specificationList" property="specificationList" typeHandler="com.syj.eplus.framework.common.config.handler.JsonSpecificationEntityListHandler" />
        <result column="purchaseUser" property="purchaseUser" typeHandler="com.syj.eplus.framework.common.config.handler.JsonUserDeptTypeHandler" />
        <result column="purchaseUserNickname" property="purchaseUserNickname" />
        <result column="purchaseUserDeptName" property="purchaseUserDeptName" />
        <result column="manager" property="manager" typeHandler="com.syj.eplus.framework.common.config.handler.JsonUserDeptTypeHandler" />
        <result column="managerNickname" property="managerNickname" />
        <result column="managerDeptName" property="managerDeptName" />
        <result column="sales" property="sales" typeHandler="com.syj.eplus.framework.common.config.handler.JsonUserDeptTypeHandler" />
        <result column="salesNickname" property="salesNickname" />
        <result column="salesDeptName" property="salesDeptName" />
    </resultMap>

    <!-- 产品模式分页查询（按明细分页，关联主表条件） -->
    <select id="selectProductModePage" resultMap="PurchaseContractProductModeResultMap">
        SELECT
            <!-- 明细字段主键 -->
            i.id AS id,
            <!-- 主表字段 -->
            c.id AS contractId,
            c.code,
            c.confirm_flag AS confirmFlag,
            c.company_id AS companyId,
            c.vender_id AS venderId,
            c.vender_code AS venderCode,
            c.vender_name AS venderName,
            c.currency,
            c.payment_id AS paymentId,
            c.payment_name AS paymentName,
            c.purchase_time AS purchaseTime,
            c.delivery_date AS deliveryDate,
            c.audit_status AS auditStatus,
            c.contract_status AS contractStatus,
            c.print_flag AS printFlag,
            c.total_amount AS totalAmount,
            c.total_quantity AS totalQuantity,
            c.creator,
            c.create_time AS createTime,
            co.company_name AS companyName,
            c.purchase_user_name AS purchaseUserNickname,
            c.purchase_user_dept_name AS purchaseUserDeptName,
            c.manager,
            NULLIF(JSON_UNQUOTE(JSON_EXTRACT(c.manager, '$.nickname')), 'null') AS managerNickname,
            NULLIF(JSON_UNQUOTE(JSON_EXTRACT(c.manager, '$.deptName')), 'null') AS managerDeptName,
            c.sales,
            NULLIF(JSON_UNQUOTE(JSON_EXTRACT(c.sales, '$.nickname')), 'null') AS salesNickname,
            NULLIF(JSON_UNQUOTE(JSON_EXTRACT(c.sales, '$.deptName')), 'null') AS salesDeptName,
            <!-- 明细字段 -->
            i.sort_num AS sortNum,
            i.sku_code AS skuCode,
            i.csku_code AS cskuCode,
            i.sku_name AS name,
            s.name_eng AS nameEng,
            i.vender_prod_code AS venderProdCode,
            i.main_picture AS mainPicture,
            s.thumbnail,
            i.quantity,
            s.measure_unit AS unit,
            i.with_tax_price AS withTaxPrice,
            JSON_OBJECT('amount', JSON_EXTRACT(i.with_tax_price, '$.amount') * i.quantity, 'currency', JSON_UNQUOTE(JSON_EXTRACT(i.with_tax_price, '$.currency'))) AS withTaxTotal,
            i.total_price_rmb AS totalPriceRmb,
            i.purchase_type AS purchaseType,
            i.currency AS purchaseCurrency,
            i.package_type AS packageType,
            i.plan_arrive_date AS itemVenderDeliveryDate,
            i.warehousing_type AS itemStatus,
            i.sku_id AS skuId,
            s.sku_type AS skuType,
            i.own_brand_flag AS ownBrandFlag,
            i.check_status AS itemCheckStatus,
            i.invoice_status AS invoiceStatus,
            i.specification_list AS specificationList,
            i.basic_sku_code AS basicSkuCode,
            JSON_OBJECT(
                'userId', c.purchase_user_id,
                'nickname', c.purchase_user_name,
                'deptId', c.purchase_user_dept_id,
                'deptName', c.purchase_user_dept_name
            ) AS purchaseUser,
            sc.company_path AS companyPath
        FROM scm_purchase_contract_item i
        LEFT JOIN scm_purchase_contract c ON i.purchase_contract_id = c.id
        LEFT JOIN system_company co ON c.company_id = co.id
        LEFT JOIN pms_sku s ON i.sku_code = s.code
        LEFT JOIN sms_sale_contract sc ON c.sale_contract_id = sc.id
        <where>
            c.deleted = 0 AND i.deleted = 0 AND s.deleted = 0
            <!-- 辅助合同标志 -->
            <if test="req.auxiliaryFlag != null">
                AND c.auxiliary_flag = #{req.auxiliaryFlag}
            </if>
            <!-- 明细条件 -->
            <if test="req.basicSkuCode != null and req.basicSkuCode != ''">
                AND i.basic_sku_code LIKE CONCAT('%', #{req.basicSkuCode}, '%')
            </if>
            <if test="req.cskuCode != null and req.cskuCode != ''">
                AND i.csku_code LIKE CONCAT('%', #{req.cskuCode}, '%')
            </if>
            <if test="req.skuCode != null and req.skuCode != ''">
                AND i.sku_code LIKE CONCAT('%', #{req.skuCode}, '%')
            </if>
            <if test="req.name != null and req.name != ''">
                AND i.sku_name LIKE CONCAT('%', #{req.name}, '%')
            </if>
            <if test="req.withTaxPriceMin != null">
                AND JSON_EXTRACT(i.with_tax_price, '$.amount') <![CDATA[>=]]> #{req.withTaxPriceMin}
            </if>
            <if test="req.withTaxPriceMax != null">
                AND JSON_EXTRACT(i.with_tax_price, '$.amount') <![CDATA[<=]]> #{req.withTaxPriceMax}
            </if>
            <if test="req.withTaxPriceRmbMin != null">
                AND JSON_EXTRACT(i.total_price_rmb, '$.amount') / NULLIF(i.quantity, 0) <![CDATA[>=]]> #{req.withTaxPriceRmbMin}
            </if>
            <if test="req.withTaxPriceRmbMax != null">
                AND JSON_EXTRACT(i.total_price_rmb, '$.amount') / NULLIF(i.quantity, 0) <![CDATA[<=]]> #{req.withTaxPriceRmbMax}
            </if>
            <!-- 优势产品条件：直接通过 JOIN 的 pms_sku 表筛选 -->
            <if test="req.advantageFlag != null">
                AND s.advantage_flag = #{req.advantageFlag}
            </if>
            <!-- 主表条件 -->
            <if test="req.code != null and req.code != ''">
                AND c.code LIKE CONCAT('%', #{req.code}, '%')
            </if>
            <if test="req.purchaseContractCode != null and req.purchaseContractCode != ''">
                AND c.code LIKE CONCAT('%', #{req.purchaseContractCode}, '%')
            </if>
            <if test="req.totalAmountRangeMin != null">
                AND JSON_EXTRACT(c.total_amount, '$.amount') <![CDATA[>=]]> #{req.totalAmountRangeMin}
            </if>
            <if test="req.totalAmountRangeMax != null">
                AND JSON_EXTRACT(c.total_amount, '$.amount') <![CDATA[<=]]> #{req.totalAmountRangeMax}
            </if>
            <if test="req.totalAmountRmbRangeMin != null">
                AND JSON_EXTRACT(c.total_amount_rmb, '$.amount') <![CDATA[>=]]> #{req.totalAmountRmbRangeMin}
            </if>
            <if test="req.totalAmountRmbRangeMax != null">
                AND JSON_EXTRACT(c.total_amount_rmb, '$.amount') <![CDATA[<=]]> #{req.totalAmountRmbRangeMax}
            </if>
            <if test="req.companyId != null">
                AND c.company_id = #{req.companyId}
            </if>
            <if test="req.venderName != null and req.venderName != ''">
                AND c.vender_name LIKE CONCAT('%', #{req.venderName}, '%')
            </if>
            <if test="req.venderCode != null and req.venderCode != ''">
                AND c.vender_code LIKE CONCAT('%', #{req.venderCode}, '%')
            </if>
            <if test="req.venderCodeList != null and req.venderCodeList.size() > 0">
                AND c.vender_code IN
                <foreach collection="req.venderCodeList" item="venderCode" open="(" separator="," close=")">
                    #{venderCode}
                </foreach>
            </if>
            <if test="req.venderId != null">
                AND c.vender_id = #{req.venderId}
            </if>
            <if test="req.custId != null">
                AND c.cust_id = #{req.custId}
            </if>
            <if test="req.custIdList != null and req.custIdList.size() > 0">
                AND c.cust_id IN
                <foreach collection="req.custIdList" item="custId" open="(" separator="," close=")">
                    #{custId}
                </foreach>
            </if>
            <if test="req.custCode != null and req.custCode != ''">
                AND c.cust_code LIKE CONCAT('%', #{req.custCode}, '%')
            </if>
            <if test="req.custCodeList != null and req.custCodeList.size() > 0">
                AND c.cust_code IN
                <foreach collection="req.custCodeList" item="custCode" open="(" separator="," close=")">
                    #{custCode}
                </foreach>
            </if>
            <if test="req.currency != null and req.currency != ''">
                AND c.currency = #{req.currency}
            </if>
            <if test="req.paymentId != null">
                AND c.payment_id = #{req.paymentId}
            </if>
            <if test="req.auditStatus != null">
                AND c.audit_status = #{req.auditStatus}
            </if>
            <if test="req.contractStatus != null">
                AND c.contract_status = #{req.contractStatus}
            </if>
            <if test="req.contractStatusList != null and req.contractStatusList.length > 0">
                AND c.contract_status IN
                <foreach collection="req.contractStatusList" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="req.neStatus != null">
                AND c.contract_status != #{req.neStatus}
            </if>
            <if test="req.purchaseUserId != null">
                AND c.purchase_user_id = #{req.purchaseUserId}
            </if>
            <if test="req.purchaseUserDeptId != null">
                AND c.purchase_user_dept_id = #{req.purchaseUserDeptId}
            </if>
            <if test="req.managerId != null">
                AND JSON_EXTRACT(c.manager, '$.userId') = #{req.managerId}
            </if>
            <if test="req.salesUserId != null">
                AND JSON_EXTRACT(c.sales, '$.userId') = #{req.salesUserId}
            </if>
            <if test="req.confirmFlag != null">
                AND c.confirm_flag = #{req.confirmFlag}
            </if>
            <if test="req.autoFlag != null">
                AND c.auto_flag = #{req.autoFlag}
            </if>
            <if test="req.createTime != null and req.createTime.length == 2">
                AND c.create_time BETWEEN #{req.createTime[0]} AND #{req.createTime[1]}
            </if>
            <if test="req.purchaseTime != null and req.purchaseTime.length == 2">
                AND c.purchase_time BETWEEN #{req.purchaseTime[0]} AND #{req.purchaseTime[1]}
            </if>
            <if test="req.deliveryDate != null and req.deliveryDate.length == 2">
                AND c.delivery_date BETWEEN #{req.deliveryDate[0]} AND #{req.deliveryDate[1]}
            </if>
            <if test="req.printFlag != null">
                AND c.print_flag = #{req.printFlag}
            </if>
            <if test="req.stockId != null">
                AND c.stock_id = #{req.stockId}
            </if>
            <if test="req.stockCode != null and req.stockCode != ''">
                AND c.stock_code LIKE CONCAT('%', #{req.stockCode}, '%')
            </if>
            <if test="req.purchasePlanId != null">
                AND c.purchase_plan_id = #{req.purchasePlanId}
            </if>
            <if test="req.purchasePlanCode != null and req.purchasePlanCode != ''">
                AND c.purchase_plan_code LIKE CONCAT('%', #{req.purchasePlanCode}, '%')
            </if>
            <if test="req.saleContractId != null">
                AND c.sale_contract_id = #{req.saleContractId}
            </if>
            <if test="req.saleContractCode != null and req.saleContractCode != ''">
                AND c.sale_contract_code LIKE CONCAT('%', #{req.saleContractCode}, '%')
            </if>
            <if test="req.idList != null and req.idList.size() > 0">
                AND c.id IN
                <foreach collection="req.idList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="req.deleteFlag != null and req.deleteFlag.size() > 0">
                AND c.deleted IN
                <foreach collection="req.deleteFlag" item="flag" open="(" separator="," close=")">
                    #{flag}
                </foreach>
            </if>
            <if test="req.excludePurchaseContract != null and req.excludePurchaseContract != ''">
                AND c.code != #{req.excludePurchaseContract}
            </if>
            <if test="req.auxiliaryPurchaseContractCode != null and req.auxiliaryPurchaseContractCode != ''">
                AND i.auxiliary_purchase_contract_code LIKE CONCAT('%', #{req.auxiliaryPurchaseContractCode}, '%')
            </if>
            <if test="req.auxiliarySaleContractCode != null and req.auxiliarySaleContractCode != ''">
                AND i.auxiliary_sale_contract_code LIKE CONCAT('%', #{req.auxiliarySaleContractCode}, '%')
            </if>
        </where>
        ORDER BY c.purchase_time DESC, i.sort_num ASC
    </select>

    <!-- 产品模式汇总查询（基于筛选后的明细） -->
    <select id="selectProductModeSummary" resultType="com.syj.eplus.module.scm.dal.dataobject.purchasecontract.PurchaseContractProductModeSummaryDO">
        SELECT
            COALESCE(SUM(i.quantity), 0) AS sumQuantity,
            COALESCE(SUM(JSON_EXTRACT(i.with_tax_price, '$.amount') * i.quantity), 0) AS sumWithTaxTotal,
            COALESCE(SUM(JSON_EXTRACT(i.total_price_rmb, '$.amount')), 0) AS sumTotalPriceRmb,
            JSON_UNQUOTE(JSON_EXTRACT(i.with_tax_price, '$.currency')) AS currency
        FROM scm_purchase_contract_item i
        LEFT JOIN scm_purchase_contract c ON i.purchase_contract_id = c.id
        LEFT JOIN pms_sku s ON i.sku_code = s.code
        <where>
            c.deleted = 0 AND i.deleted = 0 AND s.deleted = 0
            <!-- 辅助合同标志 -->
            <if test="req.auxiliaryFlag != null">
                AND c.auxiliary_flag = #{req.auxiliaryFlag}
            </if>
            <!-- 明细条件 -->
            <if test="req.basicSkuCode != null and req.basicSkuCode != ''">
                AND i.basic_sku_code LIKE CONCAT('%', #{req.basicSkuCode}, '%')
            </if>
            <if test="req.cskuCode != null and req.cskuCode != ''">
                AND i.csku_code LIKE CONCAT('%', #{req.cskuCode}, '%')
            </if>
            <if test="req.skuCode != null and req.skuCode != ''">
                AND i.sku_code LIKE CONCAT('%', #{req.skuCode}, '%')
            </if>
            <if test="req.name != null and req.name != ''">
                AND i.sku_name LIKE CONCAT('%', #{req.name}, '%')
            </if>
            <if test="req.withTaxPriceMin != null">
                AND JSON_EXTRACT(i.with_tax_price, '$.amount') <![CDATA[>=]]> #{req.withTaxPriceMin}
            </if>
            <if test="req.withTaxPriceMax != null">
                AND JSON_EXTRACT(i.with_tax_price, '$.amount') <![CDATA[<=]]> #{req.withTaxPriceMax}
            </if>
            <if test="req.withTaxPriceRmbMin != null">
                AND JSON_EXTRACT(i.total_price_rmb, '$.amount') / NULLIF(i.quantity, 0) <![CDATA[>=]]> #{req.withTaxPriceRmbMin}
            </if>
            <if test="req.withTaxPriceRmbMax != null">
                AND JSON_EXTRACT(i.total_price_rmb, '$.amount') / NULLIF(i.quantity, 0) <![CDATA[<=]]> #{req.withTaxPriceRmbMax}
            </if>
            <!-- 优势产品条件：直接通过 JOIN 的 pms_sku 表筛选 -->
            <if test="req.advantageFlag != null">
                AND s.advantage_flag = #{req.advantageFlag}
            </if>
            <!-- 主表条件 -->
            <if test="req.code != null and req.code != ''">
                AND c.code LIKE CONCAT('%', #{req.code}, '%')
            </if>
            <if test="req.purchaseContractCode != null and req.purchaseContractCode != ''">
                AND c.code LIKE CONCAT('%', #{req.purchaseContractCode}, '%')
            </if>
            <if test="req.totalAmountRangeMin != null">
                AND JSON_EXTRACT(c.total_amount, '$.amount') <![CDATA[>=]]> #{req.totalAmountRangeMin}
            </if>
            <if test="req.totalAmountRangeMax != null">
                AND JSON_EXTRACT(c.total_amount, '$.amount') <![CDATA[<=]]> #{req.totalAmountRangeMax}
            </if>
            <if test="req.totalAmountRmbRangeMin != null">
                AND JSON_EXTRACT(c.total_amount_rmb, '$.amount') <![CDATA[>=]]> #{req.totalAmountRmbRangeMin}
            </if>
            <if test="req.totalAmountRmbRangeMax != null">
                AND JSON_EXTRACT(c.total_amount_rmb, '$.amount') <![CDATA[<=]]> #{req.totalAmountRmbRangeMax}
            </if>
            <if test="req.companyId != null">
                AND c.company_id = #{req.companyId}
            </if>
            <if test="req.venderName != null and req.venderName != ''">
                AND c.vender_name LIKE CONCAT('%', #{req.venderName}, '%')
            </if>
            <if test="req.venderCode != null and req.venderCode != ''">
                AND c.vender_code LIKE CONCAT('%', #{req.venderCode}, '%')
            </if>
            <if test="req.venderCodeList != null and req.venderCodeList.size() > 0">
                AND c.vender_code IN
                <foreach collection="req.venderCodeList" item="venderCode" open="(" separator="," close=")">
                    #{venderCode}
                </foreach>
            </if>
            <if test="req.venderId != null">
                AND c.vender_id = #{req.venderId}
            </if>
            <if test="req.custId != null">
                AND c.cust_id = #{req.custId}
            </if>
            <if test="req.custIdList != null and req.custIdList.size() > 0">
                AND c.cust_id IN
                <foreach collection="req.custIdList" item="custId" open="(" separator="," close=")">
                    #{custId}
                </foreach>
            </if>
            <if test="req.custCode != null and req.custCode != ''">
                AND c.cust_code LIKE CONCAT('%', #{req.custCode}, '%')
            </if>
            <if test="req.custCodeList != null and req.custCodeList.size() > 0">
                AND c.cust_code IN
                <foreach collection="req.custCodeList" item="custCode" open="(" separator="," close=")">
                    #{custCode}
                </foreach>
            </if>
            <if test="req.currency != null and req.currency != ''">
                AND c.currency = #{req.currency}
            </if>
            <if test="req.paymentId != null">
                AND c.payment_id = #{req.paymentId}
            </if>
            <if test="req.auditStatus != null">
                AND c.audit_status = #{req.auditStatus}
            </if>
            <if test="req.contractStatus != null">
                AND c.contract_status = #{req.contractStatus}
            </if>
            <if test="req.contractStatusList != null and req.contractStatusList.length > 0">
                AND c.contract_status IN
                <foreach collection="req.contractStatusList" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="req.neStatus != null">
                AND c.contract_status != #{req.neStatus}
            </if>
            <if test="req.purchaseUserId != null">
                AND c.purchase_user_id = #{req.purchaseUserId}
            </if>
            <if test="req.purchaseUserDeptId != null">
                AND c.purchase_user_dept_id = #{req.purchaseUserDeptId}
            </if>
            <if test="req.managerId != null">
                AND JSON_EXTRACT(c.manager, '$.userId') = #{req.managerId}
            </if>
            <if test="req.salesUserId != null">
                AND JSON_EXTRACT(c.sales, '$.userId') = #{req.salesUserId}
            </if>
            <if test="req.confirmFlag != null">
                AND c.confirm_flag = #{req.confirmFlag}
            </if>
            <if test="req.autoFlag != null">
                AND c.auto_flag = #{req.autoFlag}
            </if>
            <if test="req.createTime != null and req.createTime.length == 2">
                AND c.create_time BETWEEN #{req.createTime[0]} AND #{req.createTime[1]}
            </if>
            <if test="req.purchaseTime != null and req.purchaseTime.length == 2">
                AND c.purchase_time BETWEEN #{req.purchaseTime[0]} AND #{req.purchaseTime[1]}
            </if>
            <if test="req.deliveryDate != null and req.deliveryDate.length == 2">
                AND c.delivery_date BETWEEN #{req.deliveryDate[0]} AND #{req.deliveryDate[1]}
            </if>
            <if test="req.printFlag != null">
                AND c.print_flag = #{req.printFlag}
            </if>
            <if test="req.stockId != null">
                AND c.stock_id = #{req.stockId}
            </if>
            <if test="req.stockCode != null and req.stockCode != ''">
                AND c.stock_code LIKE CONCAT('%', #{req.stockCode}, '%')
            </if>
            <if test="req.purchasePlanId != null">
                AND c.purchase_plan_id = #{req.purchasePlanId}
            </if>
            <if test="req.purchasePlanCode != null and req.purchasePlanCode != ''">
                AND c.purchase_plan_code LIKE CONCAT('%', #{req.purchasePlanCode}, '%')
            </if>
            <if test="req.saleContractId != null">
                AND c.sale_contract_id = #{req.saleContractId}
            </if>
            <if test="req.saleContractCode != null and req.saleContractCode != ''">
                AND c.sale_contract_code LIKE CONCAT('%', #{req.saleContractCode}, '%')
            </if>
            <if test="req.idList != null and req.idList.size() > 0">
                AND c.id IN
                <foreach collection="req.idList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="req.deleteFlag != null and req.deleteFlag.size() > 0">
                AND c.deleted IN
                <foreach collection="req.deleteFlag" item="flag" open="(" separator="," close=")">
                    #{flag}
                </foreach>
            </if>
            <if test="req.excludePurchaseContract != null and req.excludePurchaseContract != ''">
                AND c.code != #{req.excludePurchaseContract}
            </if>
            <if test="req.auxiliaryPurchaseContractCode != null and req.auxiliaryPurchaseContractCode != ''">
                AND i.auxiliary_purchase_contract_code LIKE CONCAT('%', #{req.auxiliaryPurchaseContractCode}, '%')
            </if>
            <if test="req.auxiliarySaleContractCode != null and req.auxiliarySaleContractCode != ''">
                AND i.auxiliary_sale_contract_code LIKE CONCAT('%', #{req.auxiliarySaleContractCode}, '%')
            </if>
        </where>
        GROUP BY JSON_UNQUOTE(JSON_EXTRACT(i.with_tax_price, '$.currency'))
    </select>

</mapper>