@use './variables.css';

.reset-margin [class*='el-icon'] + span {
  margin-left: 2px !important;
}

// 解决抽屉弹出时，body宽度变化的问题
.el-popup-parent--hidden {
  width: 100% !important;
}

// 解决表格内容超过表格总宽度后，横向滚动条前端顶不到表格边缘的问题
.el-scrollbar__bar {
  display: flex;
  justify-content: flex-start;
}
//number输入框调整为左对齐
.el-input__inner {
  text-align: left !important;
}
//解决多余滚动条问题
.el-scrollbar__bar {
  bottom: -1px;
  display: flex;
  overflow: hidden;
}
/* nprogress 适配 element-plus 的主题色 */
#nprogress {
  & .bar {
    background-color: var(--el-color-primary) !important;
  }

  & .peg {
    box-shadow:
      0 0 10px var(--el-color-primary),
      0 0 5px var(--el-color-primary) !important;
  }

  & .spinner-icon {
    border-top-color: var(--el-color-primary);
    border-left-color: var(--el-color-primary);
  }
}

.dialog-nofix {
  & .el-overlay,
  & .el-overlay-dialog {
    position: absolute;
  }
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //用于处理特殊样式，不挂在app下
  .cascaderPopper {
    max-width: 481px !important;
    .el-cascader-menu {
      min-width: 120px !important;
    }
  }
}
